@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Animation für den Glanzeffekt */
@keyframes shine {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(30deg);
    }
    20% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateX(100%) rotate(30deg);
    }
}

/* Tastendruck-Animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}