/* Hauptdatei, die alle anderen CSS-Dateien importiert */

/* Variablen und Grundeinstellungen */
@import './variables.css';
@import './base.css';
@import './animations.css';

/* Layout */
@import './layout.css';

/* Karten-Styling */
@import './pokemon-types.css';
@import './cards.css';
@import './expanded-card.css';

/* Komponenten */
@import './tabs.css';
@import './buttons.css';

/* Scroll-to-Top Button */
#scrollToTopBtn {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  font-size: 1.5rem;
  background: #444;
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: none;
  z-index: 999;
  transition: opacity 0.3s;
}

#scrollToTopBtn.show {
  display: block;
}