:root {
    --primary-color: #333;
    --text-color: #fff;
    --container-bg: rgb(43, 35, 25);
    --hover-color: #cf5656;
    --active-color: #8c2b2b;
    --dark-bg: #001a1a;
    --card-spacing: 1rem;
    --card-radius: 8px;

    --type-normal: #A8A77A;
    --type-fire: #EE8130;
    --type-water: #6390F0;
    --type-electric: #F7D02C;
    --type-grass: #7AC74C;
    --type-ice: #96D9D6;
    --type-fighting: #C22E28;
    --type-poison: #A33EA1;
    --type-ground: #E2BF65;
    --type-flying: #A98FF3;
    --type-psychic: #F95587;
    --type-bug: #A6B91A;
    --type-rock: #B6A136;
    --type-ghost: #735797;
    --type-dragon: #6F35FC;
    --type-dark: #705746;
    --type-steel: #B7B7CE;
    --type-fairy: #D685AD;
}

.bg-normal {
    background-color: var(--type-normal);
}

.bg-fire {
    background-color: var(--type-fire);
}

.bg-water {
    background-color: var(--type-water);
}

.bg-electric {
    background-color: var(--type-electric);
}

.bg-grass {
    background-color: var(--type-grass);
}

.bg-ice {
    background-color: var(--type-ice);
}

.bg-fighting {
    background-color: var(--type-fighting);
}

.bg-poison {
    background-color: var(--type-poison);
}

.bg-ground {
    background-color: var(--type-ground);
}

.bg-flying {
    background-color: var(--type-flying);
}

.bg-psychic {
    background-color: var(--type-psychic);
}

.bg-bug {
    background-color: var(--type-bug);
}

.bg-rock {
    background-color: var(--type-rock);
}

.bg-ghost {
    background-color: var(--type-ghost);
}

.bg-dragon {
    background-color: var(--type-dragon);
}

.bg-dark {
    background-color: var(--type-dark);
}

.bg-steel {
    background-color: var(--type-steel);
}

.bg-fairy {
    background-color: var(--type-fairy);
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--clr-primary-900, #0c0d0e);
    color: var(--clr-primary-200, #eee);
    font-family: system-ui;
    line-height: 1.6;
    overflow-x: hidden;
    margin-top: 4rem;
}

body.no-scroll {
    overflow: hidden;
}

header,
footer {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: 1000;
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 4rem;
}

footer {
    bottom: 0;
    padding: 1rem;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

#clearSearchBtn {
    padding: 0.5rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

#clearSearchBtn:hover {
    background-color: #e0e0e0;
}

.search input {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 250px;
}

main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    min-height: calc(100vh - 8rem);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    position: relative;
    z-index: 1;
    transition: opacity 1s ease;
    max-width: 1400px;
    margin: 0 auto;
}

.pokemon-card {
    border-radius: var(--card-radius);
    padding: 20px;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    border: 2px solid var(--hover-color);
}

.pokemon-card.expanded {
    animation: fadeInZoom 0.4s ease forwards;
    height: 80vh;
    overflow-y: auto;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    position: fixed;
    z-index: 1001;
}

.pokemon-card.expanded::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.pokemon-image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--card-radius);
    margin: 0.5rem 0;
}

.pokemon-image img {
    max-width: 100%;
    max-height: 180px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.pokemon-card.expanded .tab-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.tab-btn {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    margin-right: 0.5rem;
    
}

.tab-btn.active {
    background-color: #e0e0e0;
}

.tab-btn:hover {
    background-color: #70706c;
    animation: pulse 1.5s infinite;
    color: #fff;
    border: 1px solid #70706c
}


.pokemon-card.expanded .pokemon-image {
    height: auto;
    max-height: 250px;
    margin-bottom: 1rem;
}

.pokemon-card.expanded .pokemon-image img {
    max-height: 240px;
    width: auto;
    object-fit: contain;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.type {
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: capitalize;
    background-color: #aaa;
    color: white;
}

.hidden {
    display: none;
}

.pokemon-stats {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    visibility: hidden;
}

.pokemon-card.expanded .pokemon-stats {
    color: #574e4e;
    visibility: visible;
}

.tab-content    {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ccc;
}

.abilities {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #eee4e4;
    display: none;
}


.pokemon-card.expanded .tab-moves {
    display: block;
    list-style-type: none;
}

.pokemon-card.expanded .tab-stats .abilities {
    display: none;
}

.pokemon-card.expanded .tab-moves ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #574e4e;
}

.pokemon-card.expanded .tab-stats { 
    .tab-moves ul li {
        display: none;
    }
}



.pokemon-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.pokemon-number {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 1002;
    display: none;
}

.pokemon-card.expanded .close-button {
    display: block;
}

video#introVideo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    font-size: 2rem;
    background: #555;
    color: white;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: none;
    z-index: 999;
}

#loadMoreBtn {
    position: fixed;
    bottom: 5rem;
    left: 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 999;
}

#loadMoreBtn:hover {
    background-color: #0056b3;
}

.overlay-nav {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 1003;
    padding: 0 1rem;
}

.pokemon-card.expanded ~ .overlay-nav,
.overlay-nav.visible {
    display: flex;
}

.overlay-nav button {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    pointer-events: all;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}